<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todos</title>
    </head>
    <body>
       <h1>Mounish's To-Do List!</h1> 
       <form action = "/todos" method = "post">
          <input type="text" name = "description">
          <button type = "submit">Add</button>
       </form>
       <ul>
       {{#todos}}
       <li> <form action="/todos/{{_id}}/completed" method="post">
       {{description}} - {{done}} <button type="submit"> Done</button>
       </form>
       </li>
       {{/todos}}
    </ul>
      <h3>Done</h3>
      <ul>
       {{#doneTodos}}
       <li> <form action="/todos/{{_id}}/completed" method="post">
       {{description}} - {{done}} <button type="submit"> Not Done!</button>
       </form>
       </li>
       {{/doneTodos}}
      </ul>

    </body> 
</html>